#card {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    background-color: #fff;
    margin: 0 7px 10px 7px;
    position: relative;
    box-shadow: rgb(197, 192, 192) 0px 2px 0.1px ;
    transition: background-color 300ms ease-in-out;
}
#card>div {
    margin: 5px 8px 0 8px;
}
#card>:last-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
#card>i{
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 2px;
    visibility: hidden;
    padding: 5px;
    transition: background-color 300ms ease-in-out;
}
#card>i:hover {
    background-color: #ebecf0
}
#card:hover i {
    visibility: visible;
}
#card:hover {
    background-color: rgba(255, 255, 255, 0.692);
}

