body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./img/annie-spratt-49Y9j30lGyg-unsplash.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-decoration: none;
  letter-spacing: 1px;
}
@font-face {
  font-family: 'Lobster-Regular';
  src: url("./font/Lobster-Regular.ttf");
}

input {
  margin-top: 5px;
  border-radius: 3px;
  outline: none;
  border: solid 2px rgb(65, 93, 155);
}
input:focus {
  outline: none;
}

nav {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav>div>:nth-child(n) {
  border-radius: 3px;
  color: #fff;
  background: rgba(233, 236, 238, 0.219);
  margin: 0 3px;
  display: flex;
  align-items: center;
  height: 30px;
  padding: 0 7px;
  transition: background-color 300ms ease-in-out;
}
.wrapper1 {
  display: flex;
  flex-flow: row wrap;
  justify-items: flex-start;
  margin-left: 5px;
}
.wrapper2 {
  display: flex;
  flex-flow: row wrap;
  justify-items: flex-end;
  margin-right: 5px;
}
button {
  border: none;
  outline: none;
  color: inherit;
}
.green-button {
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    background-color: #39883f;
    transition: background-color 300ms ease-in-out;
    margin-right: 6px;
}
.green-button:hover {
    background-color: #529e58;
}
